body {
  min-height: 0px;
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #989b9e;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  color: #293443;
}
.button {
  display: inline-block;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  background-color: transparent;
  color: #efefef;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.button.full-size-button {
  width: 100%;
  margin-top: 0px;
  border-radius: 3px;
}
.button.full-size-button.multiple-choice {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  font-weight: 600;
  text-align: left;
}
.button.full-size-button.multiple-choice.selected.correct {
  border-color: #3fc7f1;
  color: #3fc7f1;
}
.button.full-size-button.multiple-choice.selected.incorrect {
  border-color: #fb8182;
  color: #fb8182;
}
.button.full-size-button.multiple-choice.incorrect.not-selected.answer-shown {
  border-color: #efefef;
  color: #efefef;
}
.button.review-button {
  position: static;
  margin-right: 0px;
  padding: 19px 23px;
  font-size: 18px;
  font-weight: 300;
}
.button.review-button.review-button-1 {
  position: relative;
  background-color: #283b4c;
}
.button.review-button.review-button-2 {
  background-color: #2f6983;
}
.button.review-button.review-button-3 {
  background-color: #3899ba;
}
.button.review-button.review-button-4 {
  background-color: #3fc7f1;
}
.button.review-button.review-button-5 {
  background-color: #40d3ff;
}
.button.more-info {
  padding-left: 0px;
  background-color: transparent;
  color: #3899ba;
  font-size: 16px;
  font-weight: 700;
}
.button.show-button {
  max-width: 600px;
  border: 1px solid #27cebc;
  background-color: white;
  color: #27cebc;
  font-weight: 600;
}
.button.modal-button {
  width: 100%;
  max-width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.button.modal-button.modal-button-bright {
  border: 2px solid #3fc7f1;
  background-color: #f7f7f7;
  color: #3fc7f1;
}
.button.modal-button.modal-button-subdued {
  border: 2px solid #909ba3;
  background-color: #f7f7f7;
  color: #909ba3;
}
.button.move-up-tree {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-top: 13px;
  margin-bottom: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  float: left;
  color: #909ba3;
  font-size: 24px;
}
.navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 60px;
  background-color: #293443;
}
.nav-link {
  font-family:'Open Sans', sans-serif;
  color: white;
}
.menu-icon {
  color: #909ba3;
  font-size: 42px;
  font-weight: 300;
}
.quiz-question-text {
  max-width: 600px;
  margin: 20px auto;
  font-family: Dosis, sans-serif;
  color: #525050;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
}
.quiz-answer-text {
  display: block;
  max-width: 600px;
  margin: 10px auto;
  color: #525050;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.quiz-answer-text.highlighted {
  background-color: rgba(64, 211, 255, 0.09);
}
.dashboard-menu {
  background-color: #272d3c;
}
.container {
  background-color: transparent;
  text-align: center;
}
.light-h1 {
  display: block;
  margin-top: 0px;
  color: #909ba3;
  font-size: 18px;
}
.product-option-text {
  margin-top: -15px;
  color: #465866;
}
.dashboard-list-item {
  border-bottom-width: 1px;
}
.dashboard-list-row {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}
.dashboard-list-percentage {
  border: 0px solid black;
  text-align: center;
}
.dashboard-list-percentage-complete {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-top: 11px;
  float: right;
  border-style: solid;
  border-width: 4px;
  border-color: #884aab #884aab #9d69ba;
  border-radius: 50%;
  color: #9d69ba;
  font-size: 12px;
  font-weight: 700;
}
.dashboard-list-name {
  padding-top: 10px;
  color: #293443;
  font-size: 18px;
  font-weight: 700;
}
.dashboard-list-score {
  display: inline-block;
  border-bottom-color: #efefef;
  color: #ccc;
  font-size: 11px;
  font-weight: 300;
}
.dashboard-list-score-value {
  display: inline-block;
  color: #3fc7f1;
  font-size: 11px;
  font-weight: 700;
}
.dashboard-list-percentage-amount {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-top: 11px;
  float: right;
  border: 4px solid #efefef;
  border-radius: 50%;
  color: #efefef;
  font-size: 12px;
}
.review-header-text {
  display: inline-block;
  color: #465866;
}
.review-header-text.float-left {
  float: left;
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  font-weight: 300;
}
.review-header-text.float-right {
  float: right;
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  font-weight: 300;
}
.review-header-text.float-right.review-header-score {
  font-weight: 400;
}
.dashboard-review-section {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
.dashboard-review-button-section {
  margin-bottom: 10px;
  text-align: center;
}
.dashboard-review-button-div {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
.dashboard-review-button-div.dashboard-review-button-last-div {
  margin-right: 0px;
}
.review-question-count {
  position: absolute;
  top: 52px;
  right: 0px;
  bottom: 17px;
  display: inline-block;
  height: 22px;
  padding-right: 6px;
  padding-left: 6px;
  border: 1px solid #272d3c;
  border-radius: 50px;
  background-color: #ff9326;
  color: #293443;
  font-size: 10px;
  font-weight: 400;
}
.review-question-count.review-question-count-five {
  background-color: #40d3ff;
}
.float-left {
  float: left;
}
.quiz-subject {
  margin-top: 8px;
  margin-bottom: 8px;
  float: left;
  color: #efefef;
  font-size: 18px;
}
.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.footer.recall-score-section {
  background-color: white;
  text-align: center;
}
.side-padding-section {
  padding-right: 10px;
  padding-left: 10px;
}
.side-padding-section.quiz-header {
  border-bottom: 1px solid #efefef;
}
.side-padding-section.quiz-answer-section {
  margin-top: 25px;
}
.side-padding-section.modal-section {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.side-padding-section.centered {
  text-align: center;
}
.quiz-assistance-text {
  color: #ccc;
  text-align: left;
}
.topic-text-container {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.do-questions {
  display: inline-block;
  width: 80%;
  height: 100%;
  padding-top: 18px;
  padding-left: 24px;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #27cebc;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}
.dashboard-dropdown {
  display: inline-block;
  width: 19.5%;
  height: 100%;
  padding-top: 18px;
  float: right;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #208a7b;
  color: white;
}
.new-questions-complete {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 9%;
  height: 100%;
  min-width: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #9d69ba;
}
.new-questions-incomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  min-width: 10px;
  border-radius: 3px;
  background-color: rgba(88, 98, 124, 0.2);
}
.new-questions {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-top: 18px;
  margin-left: 24px;
  float: left;
  color: white;
  font-size: 15px;
  font-weight: 300;
}
.new-questions-div {
  position: relative;
}
.new-questions-percentage {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  margin-top: 18px;
  margin-right: 24px;
  float: right;
  color: #9d69ba;
  font-size: 15px;
  font-weight: 300;
}
.dashboard-menu-button-div {
  height: 60px;
  margin: 10px;
}
.recall-score-centering-div {
  display: inline-block;
}
.form {
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background-color: #27cebc;
}
.text-field {
  margin-bottom: 0px;
}
.text-field.first {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.text-field.last {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.text-field.only {
  border-radius: 3px;
}
.forgot-password {
  float: right;
  color: #ccc;
  font-size: 11px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.signup-login {
  color: #ccc;
  font-size: 12px;
  text-decoration: none;
}
.login-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Dosis, sans-serif;
  color: #293443;
  font-size: 18px;
}
.student-type-label {
  display: inline-block;
  margin-right: 5px;
  padding-bottom: 0px;
  font-weight: 400;
  text-align: right;
}
.student-type-dropdown {
  display: inline-block;
  width: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.student-type-div {
  text-align: left;
}
.quiz-close-icon {
  float: right;
}
.modal-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #909ba3;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}
.modal-button-div {
  margin-top: 8px;
  text-align: center;
}
.modal-question-count {
  display: inline-block;
  margin-right: 10px;
  color: #9d69ba;
}
.modal-summary-text {
  display: inline-block;
  color: #aaa;
}
.modal-score-text {
  display: inline-block;
  color: #3fc7f1;
}
.modal-summary-div {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.modal-vote-button {
  display: inline-block;
  width: 49%;
  height: 54px;
  max-width: 201px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #3fc7f1;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.modal-vote-button.modal-upvote-button {
  float: left;
}
.modal-vote-button.modal-downvote-button {
  float: right;
}
.modal-vote-button.selected {
  border-color: #3fc7f1;
  background-color: #3fc7f1;
}
.modal-vote-button-div {
  position: static;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.menu-button {
  margin-right: 10px;
  margin-left: -15px;
  padding: 17px 0px 0px;
  float: left;
}
.quiz-centering-div {
  position: relative;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.quiz-pause-icon {
  float: right;
}
.quiz-text {
  margin-bottom: 118px;
}
.disclaimer-text {
  display: inline-block;
  color: #ccc;
}
.disclaimer-div {
  margin-top: 20px;
  font-size: 12px;
}
.disclaimer-link {
  color: #3fc7f1;
  text-decoration: none;
}
.topic-text-paragraph {
  margin-top: 15px;
  margin-bottom: 0px;
}
.right-side {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 25%;
  min-height: 100%;
  background-color: #efefef;
}
.left-side {
  display: inline-block;
  width: 75%;
}
.settings-icon {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  padding: 2px;
  float: right;
}
.settings-bar {
  height: 60px;
}
.topic-search-field {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #efefef;
  border-radius: 3px;
  font-size: 18px;
}
.recent-topics-header {
  margin-top: 20px;
  font-family: Dosis, sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.05em;
}
.topic-item {
  display: block;
  margin-bottom: 20px;
  color: #3899ba;
  text-decoration: none;
}
.tree-nav {
  position: relative;
  height: 50px;
}
.svg {
  width: 100%;
  height: 100%;
}
.brand {
  padding-top: 5px;
  padding-bottom: 5px;
}
.group-header {
  font-size: 11px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .dashboard-review-section {
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu-button {
    margin-right: 0px;
  }
  .left-side {
    width: 100%;
  }
}
@media (max-width: 479px) {
  body {
    font-family:'Open Sans', sans-serif;
  }
  h1 {
    font-weight: 700;
  }
  .button.review-button {
    margin-right: 0px;
    padding: 17px 21px;
    font-size: 18px;
  }
  .container {
    padding-bottom: 8px;
  }
  .light-h1 {
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
  }
  .dashboard-list-row {
    padding: 10px;
  }
  .review-question-count {
    border-width: 2px;
    font-size: 10px;
    line-height: 19px;
  }
  .recall-score-centering-div {
    text-align: left;
  }
  .modal-summary-div {
    margin-left: 0%;
  }
  .modal-vote-button.modal-upvote-button {
    width: 49%;
  }
}

